.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 415px;
    max-width: 1240px;
    margin: 0px auto;
  }
  .carousel p {
    position: absolute;
    z-index: 20;
    color: white;
    font-size: 18px;
    font-weight: 500;
    bottom: 0px;
  }
  .carousel_image {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .right_vector {
    position: absolute;
    cursor: pointer;
    top: 40%;
    z-index: 10;
    right: 20px;
    user-select: none;
  }
  .left_vector {
    position: absolute;
    cursor: pointer;
    top: 40%;
    z-index: 10;
    left: 20px;
    user-select: none;
  }
  .inactive {
    opacity: 0;
    transition-duration: 1s ease;
    transform: scale(0.95);
  }
  .active {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
  }
  .noPictures {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
  }
  @media screen and (max-width: 768px) {
    .carousel {
      height: 255px;
    }
    .carousel p {
      display: none;
    }
    .carousel_image {
      border-radius: 10px;
    }
    .right_vector {
      height: 20px;
      width: 11.7px;
      top: 48%;
      right: 7px;
    }
    .left_vector {
      height: 20px;
      width: 11.7px;
      top: 48%;
      left: 7px;
    }
  }
  