.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF6060;
}

.error_404 {
    font-size: clamp(96px, 15vw, 288px);
    font-weight: 700;
    margin: 40px 0px;
}

.error_msg {
    font-size: clamp(18px, 4vw, 36px);
    font-weight: 500;
    margin-bottom: 180px;
    text-align: center;
}

.error_redirection {
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 500;
    margin-bottom: 100px;
}

.error_redirection a {
    color: #FF6060;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .error_404 {

        margin-top: 150px;
    }
}