.banner_position {
  display: flex;
  justify-content: center;
  margin: 43px 0px;
  height: 100%
}

.banner_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.banner_div h1 {
  font-size: clamp(24px, 5vw, 48px);
  color: white;
  font-weight: 500;
  z-index: 3;
  line-height: 24px;
  margin: 0px 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.banner_div_img {
  background-position: center center;

  width: 91%;
  max-width: 1240px;
  border-radius: 25px;
  position: absolute;
  z-index: 0;
  height: 100%;
}

.banner_div_background {
  background-color: black;
  width: 91%;
  max-width: 1240px;
  position: absolute;
  opacity: 30%;
  border-radius: 25px;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .banner_position {
    margin: 19px 0px;
  }

  .banner_div h1 {
    font-weight: 300;
  }

  .banner_div_img {
    background-size: cover;
    border-radius: 10px;
    object-fit: cover;
  }

  .banner_div_background {

    border-radius: 10px;
  }
}